json('color.json')
section#first-bloc
    .jumbotron
        margin-top -200px
        padding-top 200px
        background-size auto
        background-image url(../img/wave.svg)
        background-repeat no-repeat
        padding-bottom 80px
        height 100%
        width auto
        z-index 100 !important
        
    p
        font-family 'vidaloka', serif
        color white
            
        
    .font-heavy
        margin-top -60px
        font-weight 200
        font-size 1.2rem
    
    h2
        color white
    
    h3
        color white
        font-size 4rem
        font-weight 100
        
    h4
        color white
        font-size 2rem
        font-family 'vidaloka', serif
        
    h5
        color white
        font-size 1.5rem
        font-family 'vidaloka', serif
        
    @media only screen and (max-width: 690px)
        .jumbotron
            background-size cover
    