json('color.json')
    
section#second-bloc
    background-color color-red

    
    span
        color #FFC96C
        font-family: 'pacifico',cursive;
    
    p
        font-family 'vidaloka'
        color white
            
        
    .font-heavy
        margin-top -60px
        font-weight 200
        font-size 1.2rem
    
    h2
        color white
    
    h3
        font-family: 'pacifico', cursive;
        color white
        font-size 3rem
        font-weight 100
        
    h4
        color white
        font-size 2rem
        font-family: 'pacifico', cursive;
        
    h5
        color white
        font-size 1.5rem
        font-family: 'pacifico', cursive;