@import url("https&://fonts&.googleapis&.com/css?family=PT& + Sans&:400|Pacifico&:400|Vidaloka&:400");

.artboard4
    width 100%
    height 100%
    min-height 5983px
    position relative
    overflow hidden
    margin 0
    background rgba(255,252,249,1.0)
    .stacked-group5
        display flex
        justify-content flex-start
        flex-direction column
        align-items center
        background rgba(255,255,255,0.0)
        width 619px
        margin-right -0px
        height auto
        pointer-events auto
        margin-left 0
        position relative
        .stack-view1
            display flex
            justify-content flex-start
            flex-direction column
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height auto
            margin 0
            width 619px
            .nos-prochaines-actio
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0
                width auto
                font-family 'PT Sans',Helvetica,Arial,serif
                font-weight 700
                font-style normal
                font-size 95.0px
                color rgba(87,80,81,1.0)
                text-align center
                line-height 123.0px
            .path17
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 82px 0 0 0
                width 559px
        .avec-le-sta
            background rgba(255,255,255,0.0)
            position relative
            height auto
            margin 82px 0 0 0
            width auto
            font-family 'PT Sans',Helvetica,Arial,serif
            font-weight 700
            font-style normal
            font-size 95.0px
            color rgba(87,80,81,1.0)
            text-align center
            line-height 123.0px
    .stacked-group5-layout-container
        pointer-events none
        flex-direction column
        top 5319px
        align-items center
        height auto
        width 100%
        position absolute
        margin 0
        display flex
        left 0
    .rectangle7
        background rgba(247,51,78,1.0)
        top 4257px
        height 909px
        width 100%
        position absolute
        margin 0
        left 0
    .stacked-group4
        display flex
        justify-content flex-start
        flex-direction column
        align-items center
        background rgba(255,255,255,0.0)
        width 978px
        margin-right -0px
        height auto
        pointer-events auto
        margin-left 0
        position relative
        .stack-view2
            display flex
            justify-content flex-start
            flex-direction column
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height auto
            margin 0
            width 758px
            .stack-view3
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0
                width 758px
                .qui-sommes-nous
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'PT Sans',Helvetica,Arial,serif
                    font-weight 700
                    font-style normal
                    font-size 92.0px
                    color rgba(255,255,255,1.0)
                    text-align center
                    line-height 119.0px
                .darko-popovic-jr
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 21px 0 0 0
                    width auto
                    font-family 'PT Sans',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(255,255,255,1.0)
                    text-align center
                    line-height 32.0px
            .logochanvrequebec
                background rgba(255,255,255,0.0)
                position relative
                height 128px
                margin 82px 0 0 0
                width 105px
                .image1
                    background rgba(255,255,255,0.0)
                    top 0
                    height 69.53%
                    width 60.00%
                    position absolute
                    margin 0
                    left 0
                .image2
                    background rgba(255,255,255,0.0)
                    top 0
                    height 100%
                    width 68.57%
                    position absolute
                    margin 0
                    left 31.43%
        .stack-view4
            display flex
            justify-content flex-start
            flex-direction row
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height 123px
            margin 135px 0 0 0
            width auto
            .stack-view5
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0
                width 90px
                .a1
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 45.0px
                    color rgba(255,255,255,1.0)
                    text-align justify
                    line-height 79.0px
                .site-web
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(255,255,255,1.0)
                    text-align justify
                    line-height 44.0px
            .stacked-group6
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 207px
                width 248px
                .a2
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 45.0px
                    color rgba(255,255,255,1.0)
                    text-align justify
                    line-height 79.0px
                .connaissance-du-marc
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(255,255,255,1.0)
                    text-align center
                    line-height 44.0px
            .avantage3
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 207px
                width 226px
                .a3
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 45.0px
                    color rgba(255,255,255,1.0)
                    text-align justify
                    line-height 79.0px
                .relation-avec-le-mil
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(255,255,255,1.0)
                    text-align center
                    line-height 44.0px
    .stacked-group4-layout-container
        pointer-events none
        flex-direction column
        top 4365px
        align-items center
        height auto
        width 100%
        position absolute
        margin 0
        display flex
        left 0
    .stacked-group3
        display flex
        justify-content flex-start
        flex-direction column
        align-items center
        background rgba(255,255,255,0.0)
        width 922px
        height auto
        pointer-events auto
        position relative
        .stack-view6
            display flex
            justify-content flex-start
            flex-direction column
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height auto
            margin 0
            width 922px
            .nos-fondements-desig
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0
                width auto
                font-family 'PT Sans',Helvetica,Arial,serif
                font-weight 700
                font-style normal
                font-size 92.0px
                color rgba(87,80,81,1.0)
                text-align center
                line-height 119.0px
            .au-got-du-jour
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 21px 0 0 0
                width auto
                font-family 'PT Sans',Helvetica,Arial,serif
                font-weight 400
                font-style normal
                font-size 25.0px
                color rgba(87,80,81,1.0)
                text-align center
                line-height 32.0px
        .stack-view7
            display flex
            justify-content flex-start
            flex-direction column
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height auto
            margin 137px 0 0 0
            width 544px
            .artisanal
                background rgba(255,255,255,0.0)
                position relative
                height 232px
                margin 0
                width 232px
                .ovalartisanal
                    background rgba(255,255,255,0.0)
                    top 0
                    height 100%
                    width 100%
                    position absolute
                    margin 0
                    left 0
                    -ms-transform rotate(-90deg)
                    -webkit-transform rotate(-90deg)
                    transform rotate(-90deg)
                .label1
                    background rgba(255,255,255,0.0)
                    top 37.50%
                    height 25.00%
                    width 78.56%
                    position absolute
                    margin 0
                    left 10.78%
                    font-family 'PT Sans',Helvetica,Arial,serif
                    font-weight 700
                    font-style normal
                    font-size 45.0px
                    color rgba(87,80,81,1.0)
                    text-align center
                    line-height 58.0px
            .stack-view8
                display flex
                justify-content flex-start
                flex-direction row
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height 220px
                margin 70px 0 0 0
                width auto
                .moderne
                    background rgba(255,255,255,0.0)
                    position relative
                    height 232px
                    margin 0
                    width 232px
                    .ovalmodern
                        background rgba(255,255,255,0.0)
                        top 0
                        height 100%
                        width 100%
                        position absolute
                        margin 0
                        left 0
                        -ms-transform rotate(-90deg)
                        -webkit-transform rotate(-90deg)
                        transform rotate(-90deg)
                    .label2
                        background rgba(255,255,255,0.0)
                        top 38.36%
                        height 25.00%
                        width 74.57%
                        position absolute
                        margin 0
                        left 12.50%
                        font-family 'PT Sans',Helvetica,Arial,serif
                        font-weight 700
                        font-style normal
                        font-size 45.0px
                        color rgba(87,80,81,1.0)
                        text-align center
                        line-height 58.0px
                .colour
                    background rgba(255,255,255,0.0)
                    position relative
                    height 226px
                    margin 0 0 0 100px
                    width 236px
                    .ovalcolour
                        background rgba(255,255,255,0.0)
                        top 0
                        height 104.42%
                        width 95.76%
                        position absolute
                        margin 0
                        left 2.12%
                        -ms-transform rotate(-90deg)
                        -webkit-transform rotate(-90deg)
                        transform rotate(-90deg)
                    .color
                        background rgba(255,255,255,0.0)
                        top 37.17%
                        height 25.66%
                        width 51.27%
                        position absolute
                        margin 0
                        left 24.15%
                        font-family 'PT Sans',Helvetica,Arial,serif
                        font-weight 700
                        font-style normal
                        font-size 45.0px
                        color rgba(87,80,81,1.0)
                        text-align center
                        line-height 58.0px
    .stacked-group3-layout-container
        pointer-events none
        flex-direction column
        top 3284px
        align-items center
        height auto
        width 100%
        position absolute
        margin 0
        display flex
        left 0
    .stack-view9
        display flex
        justify-content flex-start
        flex-direction column
        align-items center
        background rgba(255,255,255,0.0)
        width 1097px
        height auto
        pointer-events auto
        position relative
        .rendubonvivant
            background rgba(255,255,255,0.0)
            position relative
            height auto
            margin 0
            width 1097px
        .stack-view10
            display flex
            justify-content flex-start
            flex-direction row
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height 258px
            margin 110px 0 0 0
            width auto
            .stacked-group9
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0
                width 180px
                .oval6
                    background rgba(247,51,78,1.0)
                    position relative
                    height 180px
                    margin 0
                    width 180px
                    border-radius 90px
                .boule-dnergie
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 34px 0 0 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(87,80,81,1.0)
                    text-align center
                    line-height 44.0px
            .stacked-group8
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 107px
                width 180px
                .oval6-copy
                    background rgba(238,209,55,1.0)
                    position relative
                    height 180px
                    margin 0
                    width 180px
                    border-radius 90px
                .pain-protin
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 34px 0 0 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(87,80,81,1.0)
                    text-align center
                    line-height 44.0px
            .stacked-group7
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 107px
                width 180px
                .oval6-copy2
                    background rgba(220,147,43,1.0)
                    position relative
                    height 180px
                    margin 0
                    width 180px
                    border-radius 90px
                .veggie-burger
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 34px 0 0 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(87,80,81,1.0)
                    text-align center
                    line-height 44.0px
            .stack-view11
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 107px
                width 180px
                .oval6-copy3
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width 182px
                .gteau-choco
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 34px 0 0 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(87,80,81,1.0)
                    text-align center
                    line-height 44.0px
    .stack-view9-layout-container
        pointer-events none
        flex-direction column
        top 1940px
        align-items center
        height auto
        width 100%
        position absolute
        margin 0
        display flex
        left 0
    .wave
        background rgba(255,255,255,0.0)
        top 672px
        height 1158px
        width 100%
        position absolute
        margin 0
        left 0
        .path14
            background rgba(255,255,255,0.0)
            top .95%
            height 26.60%
            width 99.86%
            position absolute
            margin 0
            left 0
        .path13
            background rgba(255,255,255,0.0)
            top 0
            height 29.79%
            width 100%
            position absolute
            margin 0
            left 0
        .path13-copy
            background rgba(255,255,255,0.0)
            top 9.59%
            height 90.41%
            width 100%
            position absolute
            margin 0
            left 0
    .stacked-group2
        display flex
        justify-content flex-start
        flex-direction column
        align-items center
        background rgba(255,255,255,0.0)
        width 1009px
        height auto
        pointer-events auto
        position relative
        .stack-view16
            display flex
            justify-content flex-start
            flex-direction column
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height auto
            margin 0
            width 527px
            .bon-viant
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0
                width auto
                font-family 'PT Sans',Helvetica,Arial,serif
                font-weight 700
                font-style normal
                font-size 85.0px
                color rgba(255,255,255,1.0)
                text-align center
                line-height 110.0px
            .un-bon-vivant-est-un
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 31px 0 0 0
                width 527px
                font-family 'Vidaloka',Helvetica,Arial,serif
                font-weight 400
                font-style normal
                font-size 25.0px
                color rgba(255,255,255,1.0)
                text-align left
                line-height 31.0px
        .stack-view12
            display flex
            justify-content flex-start
            flex-direction row
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height 167px
            margin 188px 0 0 0
            width auto
            .stack-view15
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0
                width 206px
                .label5
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 45.0px
                    color rgba(255,255,255,1.0)
                    text-align justify
                    line-height 79.0px
                .des-recettes-santes
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(255,255,255,1.0)
                    text-align justify
                    line-height 44.0px
            .stack-view14
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 178px
                width 245px
                .label4
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 45.0px
                    color rgba(255,255,255,1.0)
                    text-align justify
                    line-height 79.0px
                .des-recettes-qui-go
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(255,255,255,1.0)
                    text-align center
                    line-height 44.0px
            .stack-view13
                display flex
                justify-content flex-start
                flex-direction column
                align-items center
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 178px
                width 202px
                .label3
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 45.0px
                    color rgba(255,255,255,1.0)
                    text-align justify
                    line-height 79.0px
                .des-recettes-varies
                    background rgba(255,255,255,0.0)
                    position relative
                    height auto
                    margin 0
                    width auto
                    font-family 'Pacifico',Helvetica,Arial,serif
                    font-weight 400
                    font-style normal
                    font-size 25.0px
                    color rgba(255,255,255,1.0)
                    text-align center
                    line-height 44.0px
    .stacked-group2-layout-container
        pointer-events none
        flex-direction column
        top 1034px
        align-items center
        height auto
        width 100%
        position absolute
        margin 0
        display flex
        left 0
    .logobird
        background rgba(255,255,255,0.0)
        top 27px
        height 39px
        width 43px
        position absolute
        margin 0
        left 33px
        -ms-transform rotate(-8deg)
        -webkit-transform rotate(-8deg)
        transform rotate(-8deg)
    .stack-view17
        display flex
        justify-content flex-start
        flex-direction column
        align-items center
        background rgba(255,255,255,0.0)
        width 673px
        height auto
        pointer-events auto
        position relative
        .stacked-group
            display flex
            justify-content flex-start
            flex-direction row
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height 32px
            margin 0
            width auto
            .pain
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0
                width auto
                font-family 'PT Sans',Helvetica,Arial,serif
                font-weight 700
                font-style normal
                font-size 25.0px
                color rgba(247,51,78,1.0)
                text-align center
                line-height 32.0px
            .label6
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 48px
                width auto
                font-family 'PT Sans',Helvetica,Arial,serif
                font-weight 700
                font-style normal
                font-size 25.0px
                color rgba(247,51,78,1.0)
                text-align center
                line-height 32.0px
            .label7
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 48px
                width auto
                font-family 'PT Sans',Helvetica,Arial,serif
                font-weight 700
                font-style normal
                font-size 25.0px
                color rgba(247,51,78,1.0)
                text-align center
                line-height 32.0px
            .gteau-chocolat
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 0 0 0 48px
                width auto
                font-family 'PT Sans',Helvetica,Arial,serif
                font-weight 700
                font-style normal
                font-size 25.0px
                color rgba(247,51,78,1.0)
                text-align center
                line-height 32.0px
        .stack-view18
            display flex
            justify-content flex-start
            flex-direction column
            align-items center
            background rgba(255,255,255,0.0)
            position relative
            height auto
            margin 313px 0 0 0
            width 435px
            .logogroup
                background rgba(255,255,255,0.0)
                position relative
                height 125px
                margin 0
                width 197px
                .image3
                    background rgba(255,255,255,0.0)
                    top 2.40%
                    height 44.80%
                    width 31.47%
                    position absolute
                    margin 0
                    left 34.01%
                    -ms-transform rotate(-8deg)
                    -webkit-transform rotate(-8deg)
                    transform rotate(-8deg)
                .bonvivant
                    background rgba(255,255,255,0.0)
                    top 52.00%
                    height 48.00%
                    width 99.53%
                    position absolute
                    margin 0
                    left 0
                    font-family 'PT Sans',Helvetica,Arial,serif
                    font-weight 700
                    font-style normal
                    font-size 47.0px
                    color rgba(87,80,81,1.0)
                    text-align center
                    line-height 60.0px
            .simplifier-le-plaisi
                background rgba(255,255,255,0.0)
                position relative
                height auto
                margin 49px 0 0 0
                width auto
                font-family 'Pacifico',Helvetica,Arial,serif
                font-weight 400
                font-style normal
                font-size 25.0px
                color rgba(87,80,81,1.0)
                text-align justify
                line-height 44.0px
    .stack-view17-layout-container
        pointer-events none
        flex-direction column
        top 30px
        align-items center
        height auto
        width 100%
        position absolute
        margin 0
        display flex
        left 0

a
    text-decoration none

div
    -webkit-text-size-adjust none