section#first-bloc.center
    .jumbotron
        .container
            .row
                .col-12
                    h3 [Bon vivant]
                    p.font-heavy Un bon vivant est une personne ayant des goûts cultivés, <br>raffinés et sociables surtout en matière de nourriture et de boisson.
                .col-4
                    h4 1. 
                    h5 Des recettes santées
                .col-4
                    h4 2.
                    h5 Des recettes qui goûtent bonnes
                .col-4
                    h4 3. 
                    h5 Des recettes variées