//form#form(action='#', name='form', method='post')
  #embedded.horizontal(style='box-sizing: border-box; display: inline-block; font-family: Ubuntu, Helvetica; line-height: normal; text-align: left; background-color: rgba(247, 51, 79, 0); box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px; padding: 0px; width: 730px; min-height: 160px; height: 202px;')
    #embedded-content(style='padding: 0;')
      #embedded-footer(style='box-sizing: border-box;')
        .form(style='box-sizing: border-box; display: table; width: 100%;')
          #w-preview-field-table(style='box-sizing: border-box; display: table; width: 100%;')
            .w-preview-fields-content-row(style='box-sizing: border-box; display: table-row;')
              .w-preview-fields-content-cell(style='box-sizing: border-box; display: table-cell; vertical-align: top; padding: 0px 10px 10px 0px;')
                input#w-preview-fields-content-cell-field-email(type='email', placeholder='Adresse courriel', name='w-field-field-12955-73471-548932-email', required='required', style='box-sizing: border-box; font-family: Ubuntu, Helvetica; font-size: 14px; height: 36px; padding-left: 17px; margin-right: 20px; border-radius: 3px; border: 2px solid rgb(225, 225, 230); width: 100%;')
              .w-preview-fields-content-cell(style='box-sizing: border-box; display: table-cell; vertical-align: top; padding: 0px 10px 10px 0px;')
                input#w-preview-fields-content-cell-field-1738(type='text', placeholder='prénom', name='w-field-field-12955-73471-548932-1738', style='box-sizing: border-box; font-family: Ubuntu, Helvetica; font-size: 14px; height: 36px; padding-left: 17px; margin-right: 20px; border-radius: 3px; border: 2px solid rgb(225, 225, 230); width: 100%;')
              #form-button(style='box-sizing: border-box; font-family: Ubuntu, Helvetica; text-align: center; vertical-align: middle; background-color: rgb(247, 51, 79); float: right; width: 100%; height: 100%; padding: 0px 10px; display: table-cell; cursor: pointer;')
                #subscribe-button-content(style='box-sizing: border-box; font-family: Ubuntu, Helvetica; font-size: 13px; text-align: center; line-height: 36px; color: rgb(255, 255, 255); border-radius: 3px; width: auto; max-width: 100%; height: 36px; white-space: nowrap;')
                  b M'inscrire maintenant !
  input#submit_button(type='submit')
  
  
form#form(action='#', name='form', method='post')
    .container
        .row
            .col-4
                input(type='email', placeholder='Adresse courriel', name='w-field-field-12955-73471-548932-email', required='required')
            .col-4
                input(type='text', placeholder='prénom', name='w-field-field-12955-73471-548932-1738')
            .col-4
                input(type='submit')
                
                
    