.timeline-container.timeline-theme-1
  .timeline.js-timeline
    div(data-time='2017')
      | your content or markup
    div(data-time='2016')
      | your content or markup
    div(data-time='2015')
      | your content or markup
    div(data-time='2014')
      | your content or markup
    div(data-time='2013')
      | your content or markup
