
    // Start Mailblast Signup Form
    #mb-embed
      link(rel='stylesheet', media='screen', href='https://cdn.mailblast.io/stylesheets/mb-embed-1-0.css')
      style(type='text/css').
        /* Add any css overrides you require here */
      // You can cutomize the default success message here
      h2#mb-success-message.mb-message(default-message='Thank you for Subscribing!')
      h2#mb-error-message.mb-message
      form.mb-form(method='post', action='https://mailblast.io/lists/3ff8a672-f029-40f1-a52a-1f489d714b4a/subscribers/create_external', novalidate='novalidate')
        h2#mb-form-title Subscribe to our Mailing List
        .mb-form-group
          label Email Address (required)
          input#mb-email(type='email', name='subscriber[email]', required='', aria-required='true')
        .mb-form-group
          label.mb-name First Name
          input#mb-first-name.mb-name(type='text', name='subscriber[first_name]')
        .mb-form-group
          label.mb-name Last Name
          input#mb-last-name.mb-name(type='text', name='subscriber[last_name]')
        .mb-form-group-tk(aria-hidden='true')
          input(type='text', name='mb_3ff8a672f02940f1a52a1f489d714b4a', tabindex='-1', value='')
        .mb-form-group.mb-subscribe
          button#mb-subscribe.button(type='submit') Subscribe
      
    // End Mailblast Signup Form

