script(src="/assets/js/main.js")
script(src="https://use.fontawesome.com/5d64fbfc9e.js")
//script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js")
script(type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js")
script(type="text/javascript" src="/assets/js/timeline.min.js")
