section#second-bloc.center
    .container
        .row
            .col-12
                h3 La recette du Bon Vivant est simple. dans un pot transparent, nous avons regroupé: <span>Les meilleurs ingrédients</span> et les avons <span>mesurés</span> à la perfection pour que vous, à la maison, n'ayez qu'à rajouter l'un oeuf, l'eau et l'huile. <br> <span>Mettre au four</span>. <br> Et voilà, <span>savourez</span> !